# OS files
.DS_Store

# Python caches
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.jupyter/
.ipython/
*.log

# Large data
data/images/data/images_cache/


# Model outputs
model_outputs/
*.pt
/data/images_cache/
data/images_cache/**
/model_outputs/
model_outputs/**